html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.image-box-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.image-box-logo {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 150px;
}

.burger-button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 30px;
	width: 36px;
	background: transparent;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	position: absolute;
	z-index: 2;
	top: 40px;
	left: 50px;
}

.burger-button:focus {
	outline: none;
}

.burger-button-line {
	width: 36px;
	height: 3px;
	background: white;
}

.side-drawer {
	height: 100%;
	width: 300px;
	background: rgb(80, 60, 34);
	opacity: 70%;
	position: fixed;
	top: 0;
	left: 0;
}